
/* ЭКРАНЫ */
.screen {
    height: 100vh;
    overflow-x: hidden;
}

.double_screen {
    height: 200vh;
}

/* ЦВЕТА ЭКРАНОВ */
.dark_gray_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #0E0E0E;
}

.not_so_dark_gray_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #262626;
}

.gray_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #8a8a8a;
}

.gray_double_screen {
    height: 200vh;
    background-color: #8a8a8a;
}

.light_gray_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #d9d9d9;
}

.light_blue_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #ABE1E3;
}

.white_screen {
    height: 100vh;
    overflow-x: hidden;
    background-color: #ffffff;
}

/* ОБЩИЕ */
html {
    user-select: none;
    color-scheme: dark;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #262626;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(138, 138, 138, 0.5);
}

body {
    margin: 0px;
    font-family: 'Rubik Mono One', sans-serif;
}

.arrow_up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.arrow_up_hide {
    opacity: 0;
    visibility: hidden;
}

.arrow_up:hover {
    transform: scale(1.1);
}

