
/* ЭКРАНЫ */
.screen {
    height: 100vh;
}

.double_screen {
    height: 200vh;
}

/* ЦВЕТА ЭКРАНОВ */
.dark_gray_screen {
    height: 100vh;
    background-color: #0E0E0E;
}

.not_so_dark_gray_screen {
    height: 100vh;
    background-color: #262626;
}

.gray_screen {
    height: 100vh;
    background-color: #8a8a8a;
}

.gray_double_screen {
    height: 200vh;
    background-color: #8a8a8a;
}

.light_gray_screen {
    height: 100vh;
    background-color: #d9d9d9;
}

.light_blue_screen {
    height: 100vh;
    background-color: #ABE1E3;
}

.white_screen {
    height: 100vh;
    background-color: #ffffff;
}

/* ОБЩИЕ */
html {
    user-select: none;
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Rubik Mono One', sans-serif;
}
