footer {
    background-color: #262626;
    height: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
}

footer > div {
    margin: 0 150px;
}

/* ЛОГО С ПОДПИСЬЮ */
.logo_footer {
    display: inline-block;

    height: 60px;
    aspect-ratio: 383/87;

    background-image: url(picture/logo_full.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_footer:hover {
    background-image: url(picture/logo_full_color.png);
}

/* УЧЕБНОЕ ЗАВЕДЕНИЕ И СОЦИАЛЬНЫЕ СЕТИ */
.vhutein_logo_and_social_icons_footer {
    height: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

.vhutein_logo_and_social_icons_footer > div {
    margin: 0 25px;
}

/* УЧЕБНОЕ ЗАВЕДЕНИЕ */
.vhutein_logo_footer {
    display: inline-block;

    height: 30px;
    aspect-ratio: 827/164;
    
    background-image: url(picture/vhutein_logo_gray.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.vhutein_logo_footer:hover {
    background-image: url(picture/vhutein_logo_color.png);
}

/* СОЦИАЛЬНЫЕ СЕТИ */
.social_icons_foooter {
     display: inline-block;

    height: 30px;
    aspect-ratio: 1;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.telegram_icon_footer {
    background-image: url(picture/telegram_icon.png);
}

.telegram_icon_footer:hover {
    background-image: url(picture/telegram_icon_color.png);
}

.youtube_icon_footer {
    background-image: url(picture/youtube_icon.png);
}

.youtube_icon_footer:hover {
    background-image: url(picture/youtube_icon_color.png);
}

.vk_icon_footer {
    background-image: url(picture/vk_icon.png);
}

.vk_icon_footer:hover {
    background-image: url(picture/vk_icon_color.png);
}
