footer {
    background-color: #262626;
    color: #67CFDF;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

/* АВТОР И УЧЕБНОЕ ЗАВЕДЕНИЕ */
.author {
    font-size: 10pt;
    margin-left: 25px;
}

.establishment {
    font-size: 28pt;
}

/* ПАЛОЧНИК */
.cool_rotated_stickyman_on_establishment {
    position: relative;
}

.cool_rotated_stickyman {
    position: absolute;
    top: 20%;
    left: 20%;

    width: 60%;

    transform-origin: center;
    transition: transform 1s;
}

.cool_rotated_stickyman:hover {
	transform: rotate(1turn);
}
