
/* ПЕРВЫЙ ЭКРАН */
.first_screen {
    background-image: url('picture/Sm_male_side_view_color.png'), url('picture/Ellipse_big_orange.png');
    background-position: 80% 100%, 50% 80%;
    background-repeat: no-repeat;
    background-size: 60%, 75%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.first_screen_text {
    font-size: 60pt;
    color: #00DDF6;
    margin-right: 26%;
    margin-bottom: 5%;
}

/* ВТОРОЙ ЭКРАН */
.second_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    color: #0E0E0E;
}

.second_screen_element {
    padding: 0 20px;
}

.classification_label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    font-size: 39pt;

    margin-left: 15%;
}

.classification_img {
    height: 100%;
}

.classification_text > div > div:nth-child(1) {
    font-family: 'Poiret One', sans-serif;
    font-size: 14pt;

    margin-top: 13px;
}

.classification_text > div > div:nth-child(2) {
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
}

/* ТРЕТИЙ ЭКРАН */
.third_screen {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    position: relative;

    background-image: url(picture/Rectangle.png);
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.third_screen_img {
    position: sticky;
    bottom: 0;
    width: 30%;
    height: auto;
    margin-right: 18.5%;
    margin-left: auto;
}

.third_screen_label {
    background-image: linear-gradient(180deg, #8a8a8a 25%, #d6d6d6 80%);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 170pt;
    line-height: 78%;
}

.third_screen_label:nth-child(4) {
    font-size: 250pt;
}

.third_screen_circle {
    position: absolute;
    width: 38%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.third_screen_text {
    position: absolute;
    top: 70%;
    left: 30%;
    width: fit-content;

    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
}

.third_screen_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;
}

/* ЧЕТВЕРТЫЙ ЭКРАН */
.fourth_screen {
    background-image: url('picture/Eucalyptus_gm_color.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.fourth_screen_text {
    font-size: 60pt;
    color: #0E0E0E;
    text-align: center;
}

/* ПЯТЫЙ ЭКРАН */
.fifth_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
}

.world_map {
    background-image: url(picture/MapWorld.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    aspect-ratio: 16/9;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.world_map_hide {
    background-image: url(picture/Map_hide.png);
    height: 180%;
    margin-top: -35%;
}

.africa_map {
    background-image: url(picture/MapAfrica.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 33%;
    aspect-ratio: 16/9;
    margin-top: 21.5%;
    margin-left: 10.5%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.africa_map_hide {
    background-image: url(picture/Map_hide.png);
    height: 200%;
    margin-top: -39%;
    margin-left: -52%;
}

.madagascar_map {
    background-image: url(picture/MapMadagascar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 23%;
    aspect-ratio: 16/9;
    margin-top: 32%;
    margin-left: 26%;

    transition: all 1s ease;
}

.madagascar_map_logo {
    background-image: url(picture/Map_logo.png);
}

.fifth_screen_text {
    color: #00DDF6;
    font-size: 13pt;
    position: absolute;
    transition: all 1s ease;
}

.fifth_screen_text_1 {
    top: 37%;
    left: 27%;

    border-left: 1px solid #5C5C5C;
    padding-left: 15px;
}

.fifth_screen_text_1_explanation {
    font-family: 'Poiret One', sans-serif;
    color: #D9D9D9;
    font-size: 13pt;

    margin-top: 30px;
}

.fifth_screen_text_2 {
    top: 67%;
    left: 55%;
}

.fifth_screen_text_hide {
    opacity: 0%;
    transition: all 1s ease;
}




