
/* ПЕРВЫЙ ЭКРАН */
.first_screen {
    background-image: url('picture/Sm_male&female_gm_color.png');
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.first_screen_text {
    font-size: 60pt;
    color: #0E0E0E;
}

.metamorphosis_stage_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.metamorphosis_stage_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
}

.metamorphosis_stage_container h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: normal;

    margin: 10px 0;
}

.metamorphosis_stage_container p {
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
}

.metamorphosis_stage_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
}

/* ПЕРВАЯ СТАДИЯ */

.metamorphosis_stage_container_1 {
    margin-top: 300px;
}

.metamorphosis_stage_container_1 h1 {
    color: #D9D9D9;
}

.metamorphosis_stage_container_1 p {
    color: #979797;
}

.metamorphosis_stage_container_1 > .metamorphosis_stage_info > img:nth-of-type(1) {
    width: 23%;
    margin-bottom: 200px;
}

.metamorphosis_stage_container_1 > .metamorphosis_stage_info > img:nth-of-type(2) {
    margin: 0 140px;
    height: 95%;
}

.metamorphosis_stage_container_1 > .metamorphosis_stage_info > p {
    width: 23%;
    margin-bottom: 200px;
}

/* ВТОРАЯ СТАДИЯ */

.metamorphosis_stage_container_2 {
    margin-top: 350px;
}

.metamorphosis_stage_container_2 h1 {
    color: #979797;
}

.metamorphosis_stage_container_2 p {
    color: #5C5C5C;
}

.metamorphosis_stage_container_2 > .metamorphosis_stage_info > p {
    width: 23%;
    margin-bottom: 400px;
}

.metamorphosis_stage_container_2 > .metamorphosis_stage_info > img:nth-of-type(1) {
    margin: 0px 140px;
    height: 95%;
}

.metamorphosis_stage_container_2 > .metamorphosis_stage_info > img:nth-of-type(2) {
    width: 23%;
    margin-bottom: 400px;
}

/* ТРЕТЬЯ СТАДИЯ*/

.metamorphosis_stage_container_3 {
    margin-top: 80px;
}

.metamorphosis_stage_container_3 h1 {
    color: #5C5C5C;
}

.metamorphosis_stage_container_3 p {
    color: #979797;
}

.metamorphosis_stage_container_3 > p {
    text-align: center;
}

.metamorphosis_stage_container_3 > .metamorphosis_stage_info > img {
    width: 30%;
}

.metamorphosis_label_1 {
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
    color: #979797;
}

.metamorphosis_label_2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
    color: #979797;
}

.metamorphosis_label_3 {
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
    color: #979797;
}