
/* ПЕРВЫЙ ЭКРАН */
.first_screen {
    background-image: url('picture/Sm_on_the_hill_gm_color.png');
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.first_screen_text {
    font-size: 60pt;
    color: #0E0E0E;
    text-align: center;
}

/* ВТОРОЙ ЭКРАН */
.second_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    color: #5c5c5c;
}

.second_screen_1 {
    background-image: url('picture/Ellipse_big_white.png'), url('picture/Structure_label_3.png');
    background-repeat: no-repeat;
    background-size: 40%, 55%;
    background-position-x: calc(50% - 20px);
    background-position-y: calc(50% + 55px), calc(50% - 50px);
}

.second_screen_2 {
    background-image: url('picture/Ellipse_blue.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: calc(50% - 470px);  /* Двидение влево "минус", движение вправо "плюс" */
    background-position-y: calc(50% - 150px); /* Движение вверх "минус", движение вниз "плюс" */
}

.second_screen_3 {
    background-image: url('picture/Ellipse_red.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: calc(50% + 440px);
    background-position-y: calc(50% + 45px);
}

.structure_img_female_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    cursor: pointer;
}

.structure_img_female_1:hover {
    height: 85%;
}

.structure_img_male_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    cursor: pointer;
}

.structure_img_male_1:hover {
    height: 85%;
}

.structure_img_female_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

.structure_img_male_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_female_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_male_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

#img_female {
    transition: all 1s ease;
}

#img_male {
    transition: all 1s ease;
}

.second_screen_text {
    width: 560px;
    position: absolute;
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;
    transition: visibility 0.1s ease, opacity 1s ease 0.5s; /* Появление */
}

.second_screen_text > h1 {
    text-align: left;
    font-family: 'Rubik Mono One';
    font-size: 32pt;
    font-weight: normal;
    margin-left: 40px;
}

.structure_text_female {
    left: 50%;
}

.structure_text_female > h1 {
    color: #ABE1E3; 
}

.structure_text_female > ul li::marker {
    color: #ABE1E3;
    font-size: 1em;
}

.structure_text_female > h1::after {
    content: url('picture/Venus_Symbol.png');
    vertical-align: -50%;
}

.female_symbol {
    fill: #ABE1E3;
    height: 60px;
}

.structure_text_male {
    right: 50%;
}

.structure_text_male > h1 {
    color: #FF7E61;
}

.structure_text_male > ul li::marker {
    color: #FF7E61;
    font-size: 1em;
  }

  .structure_text_male > h1::before {
    content: url('picture/Mars_Symbol.png');
    vertical-align: -50%;
}

.structure_text_hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s ease 0.5s, opacity 0.5s ease; /* Исчезновение */
}

.structure_text_female_length {
    writing-mode: vertical-lr;
    position: absolute;
    rotate: 180deg;
    top: 350px;
    left: -590px;
}

.structure_text_male_length {
    writing-mode: vertical-rl;
    position: absolute;
    rotate: 180deg;
    top: 550px;
    left: 870px;
}

/* ТРЕТИЙ ЭКРАН */
.third_screen {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: all 1s ease;
}

.protection_container {
    height: 70%;
    aspect-ratio: 1664 / 2620; /* Задает соотношение сторон */
    position: relative;
    color: #5C5C5C;
    font-family: 'Poiret One', sans-serif;
    font-size: 24pt;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.protection_screen_2 {
    background-image: url('picture/Ellipse_structure_1_screen.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: calc(50% - 200px);
    background-position-y: calc(50% - 70px);

    transition: all 2s ease;
}

.protection_screen_3 {
    background-image: url('picture/Ellipse_structure_2_screen.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: calc(50% - 100px);
    background-position-y: calc(50% + 25px);

    transition: all 2s ease;
}

.protection_screen_4 {
    background-image: url('picture/Ellipse_structure_3_screen.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: calc(50% - 150px);
    background-position-y: calc(50% - 113px);

    transition: all 2s ease;
}

.protection_container_background {
    height: 100%;
    width: 100%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    transition: all 1s ease;
}

.protection_container_background_1 {
    background-image: url('picture/Sm_male_gm_color.png');
}

.protection_container_background_2 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg) translate(-45%, 25%);
}

.protection_container_background_3 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg) translate(40%, -5%);
}

.protection_container_background_4 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg) translate(-45%, 25%);
}

.little_white_circle {
    position: absolute;
    transition: all 1s ease, opacity 1s ease 0.7s;
    cursor: pointer;
}

.little_white_circle_1 {
    height: 7%;
    top: 22%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.little_white_circle_1:hover {
    height: 10%;
}

.little_white_circle_2 {
    height: 9%;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.little_white_circle_2:hover {
    height: 12%;
}

.little_white_circle_3 {
    height: 7%;
    top: 58%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.little_white_circle_3:hover {
    height: 10%;
}

.little_white_circle_hide {
    opacity: 0%;
    transition: opacity 0.3s ease;
    cursor: default;
}

.protection_info {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s ease 0.2s;
}

.protection_info_hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.protection_info_1 {
    left: -70%;
    top: -5%;
}

.protection_info_1 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
    left: 35%;
    top: 20%;
}

.protection_info_1 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: 120%;
    top: 10%;
}

.protection_info_1 > ul:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 135%;
    left: 135%;
    top: 15%;
}

.protection_info_2 {
    left: 40%;
    top: 30%;
}

.protection_info_2 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
}

.protection_info_2 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: -140%;
    top: -50%;
}

.protection_info_2 > ul:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 120%;
    left: -140%;
    top: -83%;
}

.protection_info_3 {
    left: -70%;
    top: -5%;
}

.protection_info_3 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
    left: 35%;
    top: 20%;
}

.protection_info_3 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: 120%;
    top: 10%;
}

.protection_info_3 > ul:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 125%;
    left: 135%;
    top: 15%;
}

.protection_info > ul li::marker {
    color: #FF7E61;
    font-size: 1em;
  }