.first_screen {
    background-image: url('picture/Sm_on_the_hill_gm_color.png');
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.first_screen_text {
    font-size: 60pt;
    color: #0E0E0E;
    text-align: center;
}

.second_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    color: #5c5c5c;
}

.second_screen_1 {
    background-image: url('picture/Ellipse_big_white.png');
    background-repeat: no-repeat;
    background-size: 43%;
    background-position-x: calc(50% - 20px);
    background-position-y: calc(50% + 45px);
}

.second_screen_2 {
    background-image: url('picture/Ellipse_blue.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: calc(50% - 470px);  /* Двидение влево "минус", движение вправо "плюс" */
    background-position-y: calc(50% - 150px); /* Движение вверх "минус", движение вниз "плюс" */
}

.second_screen_3 {
    background-image: url('picture/Ellipse_red.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: calc(50% + 440px);
    background-position-y: calc(50% + 45px);
}

.structure_img_female_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
}

.structure_img_male_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
}

.structure_img_female_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

.structure_img_male_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_female_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_male_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

#img_female {
    transition: all 1s ease;
}

#img_male {
    transition: all 1s ease;
}

.second_screen_text {
    font-size: 14pt;
    width: 560px;
    position: absolute;
    transition: visibility 0.1s ease, opacity 1s ease 0.5s; /* Появление */
}

.second_screen_text > h1 {
    text-align: center;
    font-size: 20pt;
    font-weight: normal;
}

.structure_text_female {
    left: 50%;
}

.structure_text_female > h1 {
    color: #ABE1E3;
}

.structure_text_male {
    right: 50%;
}

.structure_text_male > h1 {
    color: #FF7E61;
}

.structure_text_hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s ease 0.5s, opacity 0.5s ease; /* Исчезновение */
}

.third_screen {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.third_screen_state_1 {
    background-image: url('picture/Sm_background_gm_color.png');
}

.third_screen_state_234 {
    background-image: url('picture/Sm_background_gm_bw.png');
}

.protection_container {
    height: 70%;
    aspect-ratio: 1664 / 2620; /* Задает соотношение сторон */
    position: relative;
    color: #5C5C5C;
    font-size: 16pt;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}

.protection_container_1 {
    background-image: url('picture/Sm_male_gm_color.png');
}

.protection_container_2 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg);
    left: -20%;
    top: -5%;
}

.protection_container_3 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg);
    left: 15%;
    top: 5%;
}

.protection_container_4 {
    background-image: url('picture/Sm_male_gm_bw.png');
    transform: rotate(45deg);
    left: -20%;
    top: -5%;
}

.little_white_color {
    position: absolute;
    transition: all 1s ease;
}

.little_white_color_1 {
    height: 6%; 
}

.little_white_color_1_position {
    height: 100%;
    position: relative;
    top: -500%;
    left: 40%;
}

.little_white_color_2 {
    height: 8%; 
}

.little_white_color_2_position {
    height: 100%;
    position: relative;
    top: -100%;
    left: -80%;
}

.little_white_color_3 {
    height: 6%; 
}

.little_white_color_3_position {
    height: 100%;
    position: relative;
    top: 160%;
    left: 225%;
}

.little_white_color_hide {
    opacity: 0%;
}

.protection_info_1 {
    position: absolute;
    height: 100%;
    transform: rotate(-45deg);
}

.protection_info_1 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
    left: 35%;
    top: 20%;
}

.protection_info_1 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: 98%;
    top: 1%;
}

.protection_info_1 > p:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 80%;
    left: 110%;
    top: 5%;
}

.protection_info_2 {
    position: absolute;
    height: 100%;
    transform: rotate(-45deg);
}

.protection_info_2 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
    left: 20%;
    top: 15%;
}

.protection_info_2 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: -83%;
    top: -30%;
}

.protection_info_2 > p:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 80%;
    left: -83%;
    top: -63%;
}

.protection_info_3 {
    position: absolute;
    height: 100%;
    transform: rotate(-45deg);
}

.protection_info_3 > img:nth-of-type(1) {
    height: 55%;
    position: relative;
    left: 35%;
    top: 20%;
}

.protection_info_3 > img:nth-of-type(2) {
    height: 8%;
    position: relative;
    left: 98%;
    top: 1%;
}

.protection_info_3 > p:nth-of-type(1) {
    margin: 0;
    position: relative;
    width: 80%;
    left: 110%;
    top: 5%;
}

.protection_info_hide {
    visibility: hidden;
    opacity: 0;
    transform: rotate(0);
}
