.first_screen {
    background-image: url('picture/Sm_on_the_hill_gm_color.png');
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.first_screen_text {
    font-size: 60pt;
    color: #0E0E0E;
    text-align: center;
}

.second_screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    color: #5c5c5c;
}

.second_screen_1 {
    background-image: url('picture/Ellipse_big_white.png');
    background-repeat: no-repeat;
    background-size: 43%;
    background-position-x: calc(50% - 20px);
    background-position-y: calc(50% + 45px);
}

.second_screen_2 {
    background-image: url('picture/Ellipse_blue.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: calc(50% - 470px);  /* Двидение влево "минус", движение вправо "плюс" */
    background-position-y: calc(50% - 150px); /* Движение вверх "минус", движение вниз "плюс" */
}

.second_screen_3 {
    background-image: url('picture/Ellipse_red.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: calc(50% + 440px);
    background-position-y: calc(50% + 45px);
}

.structure_img_female_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
}

.structure_img_male_1 {
    height: 75%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
}

.structure_img_female_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

.structure_img_male_2 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_female_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
    opacity: 0%;
}

.structure_img_male_3 {
    height: 75%;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 80px;
}

#img_female {
    transition: all 1s ease;
}

#img_male {
    transition: all 1s ease;
}

.third_screen {
    background-image: url('picture/Sm_backgroung.png');
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.second_screen_text {
    font-size: 14pt;
    width: 560px;
    position: absolute;
    transition: visibility 0.1s ease, opacity 1s ease 0.5s; /* Появление */
}

.second_screen_text > h1 {
    text-align: center;
    font-size: 20pt;
    font-weight: normal;
}

.structure_text_female {
    left: 50%;
}

.structure_text_female > h1 {
    color: #ABE1E3;
}

.structure_text_male {
    right: 50%;
}

.structure_text_male > h1 {
    color: #FF7E61;
}

.structure_text_hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s ease 0.5s, opacity 0.5s ease; /* Исчезновение */
}